<app-menu></app-menu>

<section class="d-flex">
  <app-aside></app-aside>
  <div class="container">
    <div class="card bg-light">
      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Registrar Usuario</h4>
        <p class="text-center">Completa el formulario para crear una cuenta</p>
        <p class="divider-text">
          <span class="bg-light"></span>
        </p>

        <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fas fa-user"></i></span>
            </div>
            <input name="nombre" class="form-control" placeholder="Nombre completo" type="text" id="nombre"
              class="form-control" [(ngModel)]="nombre" required>
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-signature"></i> </span>
            </div>
            <input name="nombreUsuario" placeholder="Nombre de usuario" id="nombreUsuario" class="form-control"
              type="text" class="form-control" [(ngModel)]="nombreUsuario" required>
          </div>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope-open-text"></i> </span>
            </div>
            <input name="email" id="email" class="form-control" placeholder="Correo" type="email" [(ngModel)]="email" required>
          </div>

          <!-- <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-building"></i> </span>
          </div>
          <select class="form-control">
            <option selected=""> Select job type</option>
            <option>Designer</option>
            <option>Manager</option>
            <option>Accaunting</option>
          </select>
        </div> -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input name="password" id="password" class="form-control" placeholder="Crear contraseña" type="password" [(ngModel)]="password" required>
          </div>

          <!-- <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select class="custom-select" style="max-width: 70px;">
            <option selected="" value="+57">+57</option>
            <option value="+972">+972</option>
            <option value="+198">+198</option>
            <option value="+701">+701</option>
          </select>
          <input name="telefono" placeholder="Telefono" id="telfono" class="form-control" type="number" class="form-control" [(ngModel)]="telefono" required>
        </div> -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Crear Cuenta </button>
          </div>
        </form>
      </article>
    </div>

  </div>

  <br><br>
</section>