<section class="app w-25">
    <aside class="sidebar">
        <header>
            <i class="ico-menu bg-dark-menu rounded-circle mx-auto text-white fas fa-user"></i>
            <h2 class="mt-4 text-white text-center">Administrador</h2>
        </header>
        <nav class="sidebar-nav">
            <ul>
                <li>
                    <a routerLink="/lista">
                        <h6 class="col-2 mb-0 text-white far fa-list-alt"></h6>
                        <span>Productos</span>
                    </a>
                </li>
                <li>
                    <a  routerLink="/usuarios"><h6 class="col-2 mb-0 text-white fas fa-users"></h6><span class="">Usuarios</span></a>
                   
                </li>
                <li>
                    <a routerLink="/categorias"><h6 class="col-2 mb-0 text-white fas fa-bookmark"></h6><span class="">Categorias</span></a>
                </li>
            </ul>
        </nav>
    </aside>
</section>